.container {
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.message {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &.user {
    justify-content: flex-end;

    .content {
      background-color: rgba(0, 0, 0, 0.04);
      padding: 9px 16px;
      border-radius: 12px;
    }
  }
}
